{% extends 'base.html' %}

{% block title %} home {% endblock %}

{% block content %}

  <div class="container">
    <div class="jumbotron text-center ">
      <h1 class="display-4 text-primary">Inventory app</h1>
    </div>

    <div class="row">
      <div class="col mb-3">
        <div class="card border-primary">
          <div class="card-body text-primary">
            <h5 class="card-title">Category</h5>
            <p class="card-text">Categorise all your products</p>
          </div>
        </div>
        </div>
    </div>

    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="card border-primary">
          <div class="card-body text-primary">
            <h5 class="card-title">Tag</h5>
            <p class="card-text">add tags to your product</p>
          </div>
        </div>
        </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card border-primary">
          <div class="card-body text-primary">
            <h5 class="card-title">Simple</h5>
            <p class="card-text">Created with joy</p>
          </div>
        </div>
        </div>


      </div>

      
    </div> <!-- container row -->
    
  </div> <!-- container main -->
  
</div>
{% endblock %}